In [35]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

Here I use the dataset from OWID (Our World in Data) For the GDP per Country

Docs: https://docs.owid.io/projects/etl/getting-started/consuming-datasets/

In [36]:
df = pd.read_csv('gdp_data.CSV')

In [37]:
df.head()

  countrycode      country  year  gdppc    pop
0         AFG  Afghanistan  1820    NaN  3,280
1         AFG  Afghanistan  1870    NaN  4,207
2         AFG  Afghanistan  1913    NaN  5,730
3         AFG  Afghanistan  1950  1,156  8,150
4         AFG  Afghanistan  1951  1,170  8,284

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21682 entries, 0 to 21681
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   countrycode  21682 non-null  object
 1   country      21682 non-null  object
 2   year         21682 non-null  int64
 3   gdppc        19706 non-null  object
 4   pop          17199 non-null  object
dtypes: int64(1), object(4)
memory usage: 847.1+ KB

In [39]:
df = df.loc[df['year'] >= 1950]

In [40]:
df

      countrycode      country  year  gdppc     pop
3             AFG  Afghanistan  1950  1,156   8,150
4             AFG  Afghanistan  1951  1,170   8,284
5             AFG  Afghanistan  1952  1,189   8,425
6             AFG  Afghanistan  1953  1,240   8,573
7             AFG  Afghanistan  1954  1,245   8,728
...           ...          ...   ...    ...     ...
21677         ZWE     Zimbabwe  2014  1,594  13,314
21678         ZWE     Zimbabwe  2015  1,560  13,479
21679         ZWE     Zimbabwe  2016  1,534  13,665
21680         ZWE     Zimbabwe  2017  1,582  13,870
21681         ZWE     Zimbabwe  2018  1,611  14,097

[11661 rows x 5 columns]

In [41]:
# check sum of na
df.isna().sum()

countrycode      0
country          0
year             0
gdppc          523
pop              0
dtype: int64

In [42]:
df = df.dropna().reset_index().drop('index', axis=1)
df.isna().sum()

countrycode    0
country        0
year           0
gdppc          0
pop            0
dtype: int64

In [43]:
df.tail()

      countrycode   country  year  gdppc     pop
11133         ZWE  Zimbabwe  2014  1,594  13,314
11134         ZWE  Zimbabwe  2015  1,560  13,479
11135         ZWE  Zimbabwe  2016  1,534  13,665
11136         ZWE  Zimbabwe  2017  1,582  13,870
11137         ZWE  Zimbabwe  2018  1,611  14,097

In [44]:
df['gdppc'] = df['gdppc'].apply(lambda x: x.replace(',','')).astype(float)
df['pop'] = df['pop'].apply(lambda x: x.replace(',','')).astype(float)

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11138 entries, 0 to 11137
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   countrycode  11138 non-null  object
 1   country      11138 non-null  object
 2   year         11138 non-null  int64
 3   gdppc        11138 non-null  float64
 4   pop          11138 non-null  float64
dtypes: float64(2), int64(1), object(2)
memory usage: 435.2+ KB

In [46]:
df['year'].value_counts()

2018    169
2004    169
1990    169
1991    169
1992    169
       ...
1955    151
1954    151
1953    151
1951    145
1950    145
Name: year, Length: 69, dtype: int64

In [53]:
df = df.rename(columns={'countrycode':'Country Code', 'country':'Country', 'year':'Year'})

In [54]:
df

      Country Code      Country  Year   gdppc      pop
0              AFG  Afghanistan  1950  1156.0   8150.0
1              AFG  Afghanistan  1951  1170.0   8284.0
2              AFG  Afghanistan  1952  1189.0   8425.0
3              AFG  Afghanistan  1953  1240.0   8573.0
4              AFG  Afghanistan  1954  1245.0   8728.0
...            ...          ...   ...     ...      ...
11133          ZWE     Zimbabwe  2014  1594.0  13314.0
11134          ZWE     Zimbabwe  2015  1560.0  13479.0
11135          ZWE     Zimbabwe  2016  1534.0  13665.0
11136          ZWE     Zimbabwe  2017  1582.0  13870.0
11137          ZWE     Zimbabwe  2018  1611.0  14097.0

[11138 rows x 5 columns]

In [55]:
df.to_csv('gdp_cleaned_dataset')